language: python
python:
  - "3.7"
install:
  - pip install .
  - pip install flake8 pylint coveralls
script:
- flake8 graphslam/ && pylint graphslam/ flake8 tests/ && pylint tests/ && coverage run --source graphslam setup.py test && coverage report -m
after_success:
- coveralls
